@model CoreAutomotive.ViewModels.HomeVM

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.Tytul</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var Car in Model.Cars)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="@Car.ThumbnailUrl" alt="" />
                        <div class="card-body">
                            <h4>@Car.Price.ToString("c")</h4>
                            <h5>Mileage : @Car.Mileage</h5>
                            <h5>Engine : @Car.Engine</h5>
                            <h5>Power : @Car.Power</h5>
                            <p id="description" class="card-text">@Car.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <form method="post">
                                    <div class="btn-group">
                                        <button asp-controller="Home" asp-action="Details" asp-route-id="@Car.Id" class="btn btn-sm btn-outline-secondary">View Details</button>
                                    </div>
                                </form>
                                <div class="">
                                    <a class="pr-xs-2 text-muted small" asp-action="ViewProfile" asp-controller="Account" asp-route-id="@Car.UserId">@Car.UserName </a>
                                    <div class="pr-xs-3 text-muted small"> @Car.DateAdded.Date.ToShortDateString()</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>