@model CarVM

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center">Car Details</h1>
    </div>
</div>
<div class="container">
    <h2>Add Car</h2>
    <hr />
    <div class="row">
        <form asp-action="Create" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Car.Brand" class="control-label"></label>
                    <input asp-for="Car.Brand" class="form-control" />
                    <span asp-validation-for="Car.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Model" class="control-label"></label>
                    <input asp-for="Car.Model" class="form-control" />
                    <span asp-validation-for="Car.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.ProductionYear" class="control-label"></label>
                    <input asp-for="Car.ProductionYear" class="form-control" />
                    <span asp-validation-for="Car.ProductionYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Mileage" class="control-label"></label>
                    <input asp-for="Car.Mileage" class="form-control" />
                    <span asp-validation-for="Car.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Engine" class="control-label"></label>
                    <input asp-for="Car.Engine" class="form-control" />
                    <span asp-validation-for="Car.Engine" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Car.FuelType" class="control-label"></label>
                    <input asp-for="Car.FuelType" class="form-control" />
                    <span asp-validation-for="Car.FuelType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Power" class="control-label"></label>
                    <input asp-for="Car.Power" class="form-control" />
                    <span asp-validation-for="Car.Power" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Price" class="control-label"></label>
                    <input asp-for="Car.Price" class="form-control" />
                    <span asp-validation-for="Car.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Description" class="control-label"></label>
                    <input asp-for="Car.Description" class="form-control info" />
                    <span asp-validation-for="Car.Description" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Pictures[0].PictureUrl" value="@ViewBag.ImgPath" />
                <input type="hidden" asp-for="Pictures[0].ThumbnailUrl" value="@ViewBag.ImgPath" />

                @*<input type="hidden" asp-for="Pictures[0].PictureUrl" value="@ViewBag.ImgPath" />
                    <input type="hidden" asp-for="Pictures[0].ThumbnailUrl" value="@ViewBag.ImgPath" />

                    <input type="hidden" asp-for="Pictures[0].PictureUrl" value="@ViewBag.ImgPath" />
                    <input type="hidden" asp-for="Pictures[0].ThumbnailUrl" value="@ViewBag.ImgPath" />*@

                <div class="form-group">
                    <input type="submit" value="Add Car" class="btn btn-success" style="margin-top:30px" />
                    <a asp-action="Index" class="btn btn-danger pull-right" style="margin-top:30px">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>