@model IEnumerable<Car>

@await Component.InvokeAsync("Heading", new HeadingVM { Header = "Search for a car", Caption = "Hopefully you will find something for yourself!" });

<div class="album py-5 bg-light">
    <div class="container">
        <input type="text" class="form-control mb-2" id="search-criteria" placeholder="Type text" />
        <input type="button" class="btn btn-outline-secondary" id="search" value="Search" />
        <input type="button" class="btn btn-outline-secondary" id="reset-search" value="Reset" />
        @foreach (var car in Model)
        {
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card car-">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper pl-0 col-sm-4">
                                @if (car.Pictures != null)
                                {
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@car.Id">
                                        <img class="" src="@car.Pictures[0].ThumbnailUrl" height="180" width="300" alt="Card image cap">
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@car.Id">
                                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                                    </a>
                                }
                            </div>
                            <div class="card-body pl-0 col-sm-3">
                                <a style="color:unset" asp-action="Details" asp-controller="Home" asp-route-id="@car.Id"><h4 class="card-title">@car.Brand @car.Model</h4></a>
                                <span>Price: @car.Price</span><br />
                                <span>Year: @car.ProductionYear</span><br />
                                <span>Mileage: @car.Mileage</span><br />
                                <span>Power: @car.Power</span><br />
                            </div>
                            <div class="card-body pl-0 col-sm-6">
                                <h4 class="card-title"> </h4>
                                <span>@car.Description</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted on @car.DateAdded.ToShortDateString() by</small>
                            <a class="text-muted small" asp-action="ViewProfile" asp-controller="Account" asp-route-id="@car.UserId">@car.UserName </a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts{
    <script>
        $('#search').click(function () {
            $('.car-').hide();
            var txt = $('#search-criteria').val();
            $('.car-').each(function () {
                if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                    $(this).show();
                }
            });
        });
        $('#reset-search').click(function () {
            $('.car-').show();
        })
    </script>

}